@font-face {
  font-family: "Work Sans";
  src: url("../../assets/WorkSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rubik Mono One";
  src: url("../../assets/RubikMonoOne-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;